<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.CboardMapper">
	<select id="memberinfo" resultType="JoinOne">
		SELECT * FROM
			k_joinone
		WHERE
			email=#{userid};
	</select>
	<select id="serssionidName" resultType="JoinOne">
		SELECT * FROM
			k_joinone
		WHERE
			email=#{id};
	</select>
	<select id="readPage_about" resultType="K_aboutVO">	
		SELECT
		`aid`, `userid`,
		`compname_kr`, `compname_en`, `businessType`, `repname`,
		`businessname`,`main_product`, `establish`, `employees`, `homepage`,
		`businessStatus`, `take`, `capital`,
		`netincome`,
		`certificationStatus`, `AboutUs`
		FROM
		`k_about`
		WHERE
		`userid`=#{userid};
	</select>
		<select id="readPage_product" resultType="K_productVO">
		SELECT
			`pid`,`userid`,`image`,`product`,`product_en`,`usage`,`pcod`,`pinfo`
		FROM
			`k_product`
		WHERE
			`userid`=#{userid};
	</select>
	<select id="readPage_contact" resultType="K_contactVO">
		SELECT
		`cid`, `userid`,
		`phonenumber`, `fax`, `email`, `address`,
		`organizationChart`
		FROM
		`k_contact`
		WHERE
		`userid`=#{userid};
	</select>
	<insert id="insert_about" parameterType="com.test.domain.K_aboutVO"	>
		INSERT INTO `k_about`
		(`userid`,`compname_kr`, `compname_en`,
		`businessType`,`repname`,
		`businessname`,`main_product`,
		`establish`,`employees`,`homepage`,
		`businessStatus`, `take`,`capital`, `netincome`,`certificationStatus`,
		`AboutUs`)
		VALUES
		(#{userid},#{compname_kr},#{compname_en},#{businessType},#{repname},#{businessname},#{main_product},
		#{establish},#{employees},#{homepage},#{businessStatus},#{take},
		#{capital},#{netincome},#{certificationStatus},#{AboutUs});
	</insert>
	<insert id="insert_contact" parameterType="com.test.domain.K_contactVO">
		INSERT INTO `k_contact`
		( `userid`,`phonenumber`, `fax`,
		`email`,`address`,`organizationChart`)
		VALUES
		(#{userid},#{phonenumber},
		#{fax},#{email},#{address},#{organizationChart});
	</insert>
	<insert id="insert_product" parameterType="com.test.domain.K_productVO">
		INSERT INTO 
			`k_product` 
		(`userid`,`image`,`product`,`product_en`,`usage`,`pcod`,`pinfo`)
			VALUES
		(#{userid},#{image},#{product},#{product_en},#{usage},#{pcod},#{pinfo});
	</insert>
	<update id="homeupdate">
		update k_joinone set
		`username` =#{username},`profimg`=#{profimg}
		,`introduce` =#{introduce}
		where
		`email`=#{email}
	</update>
	<update id="update_about">
		update k_about set
		`compname_kr` =#{compname_kr}
		,`compname_en` =#{compname_en},
		`businessType`
		=#{businessType},`repname` =#{repname},`businessname`
		=#{businessname},
		`main_product` =#{main_product} ,`establish`
		=#{establish},`employees`
		=#{employees},
		`homepage`=#{homepage},
		`businessStatus` =#{businessStatus},`take` =#{take},`capital`
		=#{capital},`netincome`
		=#{netincome},
		`certificationStatus`
		=#{certificationStatus},`AboutUs` =#{AboutUs}
		where
		`aid`=#{aid}
	</update>
	<update id="update_contact">
		update k_contact set
		`phonenumber`
		=#{phonenumber},`fax`
		=#{fax},
		`email` =#{email},`address`
		=#{address},`organizationChart`
		=#{organizationChart}
		where
		`cid`=#{cid}
	</update>
	<select id="updateread_product" resultType="K_productVO">
		SELECT
		`pid`,`userid`, `image`,`product`,`product_en`,
		`usage`,`pcod`,`pinfo`
		FROM
		`k_product`
		WHERE
		`pid`=#{pid};
	</select>
	<update id="update_product">
		update k_product set
		`image` =#{image},
		`product`=#{product},
		`product_en`=#{product_en},
		`usage` =#{usage},
		`pcod`=#{pcod},
		`pinfo`=#{pinfo}
		where
		`pid`=#{pid}
	</update>
	<delete id="remove">
		delete from k_product where
		pid=#{pid};
	</delete>
</mapper>