<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.CompanyboardMapper">
	<insert id="insert">
		INSERT INTO 
			k_comboard
		(cbuserid,cbcontent,cbimage,cbregdate,cbreadid,cbwarea,cbnew_post)
			VALUES
		(#{cbuserid},#{cbcontent},#{cbimage},now(),#{cbreadid},#{cbwarea},'true');
	</insert>
	<insert id="comreplyinsert">
		INSERT INTO 
			k_comreply
		(comboardid,comreplytext,comrep_userid,comrep_regdate)
			VALUES
		(#{comboardid},#{comreplytext},#{comrep_userid},now());
	</insert>
	<select id="listSearchCriteria" resultType="CompanyBoardVO">
		select
		one.first, one.last,two.company,three.profimg, 
		kc.cbid,kc.cbuserid,kc.cbcontent,kc.cbimage,kc.cbregdate,kc.cbreadid,kc.cbwarea,kc.cbnew_post
		from
		k_comboard kc join k_joinone one
		on
		kc.cbuserid = one.email
		join k_jointwo two
		on
		one.one_id = two.one_id
		join k_jointhree three
		on
		two.two_id = three.two_id
		where kc.cbwarea=#{code}
		ORDER by kc.cbid desc
		limit 0,3;
	</select>
	<select id="comreplylist" resultType="ComReplyVO">
		select
		kr.crid,kr.comboardid,kr.comreplytext,kr.comrep_userid,kr.comrep_regdate,
		one.first,one.last,two.company,three.profimg
		from k_comreply kr join k_joinone one
		on kr.comrep_userid = one.email
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
			on two.two_id = three.two_id
		where kr.comboardid = #{cbid} ORDER by kr.crid asc;
	</select>
	<select id="comscrollreplylist" resultType="ComReplyVO">
		select
		kr.crid,kr.comboardid,kr.comreplytext,kr.comrep_userid,kr.comrep_regdate,
		one.first,one.last,two.company,three.profimg
		from k_comreply kr join k_joinone one
		on kr.comrep_userid = one.email
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
			on two.two_id = three.two_id
		where kr.comboardid = #{comboardid} ORDER by kr.comrep_regdate asc;
	</select>
	<select id="searchmanager" resultType="String">
		select
		userid from k_companyuser
		where companyCode=#{code} and manager='1';
	</select>
	<select id="scrolllistSearchCriteria" resultType="CompanyBoardVO">
		select
		one.first, one.last,two.company,three.profimg, 
		kc.cbid,kc.cbuserid,kc.cbcontent,kc.cbimage,kc.cbregdate,kc.cbreadid,kc.cbwarea,kc.cbnew_post
		from
		k_comboard kc join k_joinone one
		on
		kc.cbuserid = one.email
		join k_jointwo two
		on
		one.one_id = two.one_id
		join k_jointhree three
		on
		two.two_id = three.two_id
		where kc.cbwarea=#{code} and #{cbid}+1 >kc.cbid
		ORDER by kc.cbid desc
		limit 0,1;
	</select>
	<select id="selectupdateBoard" resultType="CompanyBoardVO">
	select
		one.first,one.last,two.company,three.profimg,
		kc.cbid,kc.cbuserid,kc.cbcontent,kc.cbimage,kc.cbregdate,kc.cbreadid,kc.cbwarea,kc.cbnew_post
		from
		k_comboard kc join k_joinone one
		on
		kc.cbuserid = one.email
		join k_jointwo two
		on
		one.one_id = two.one_id
		join k_jointhree three
		on
		two.two_id = three.two_id
		where
		kc.cbid=#{cbid};
	</select>
	<update id="newsUpdatee">
		update k_comboard set
		`cbuserid` =#{cbuserid},`cbcontent` =#{cbcontent},`cbimage` =#{cbimage},`cbregdate` =#{cbregdate},
		`cbreadid` =#{cbreadid},`cbwarea` =#{cbwarea},
		`cbnew_post`='true'
		where
		`cbid`=#{cbid}
	</update>
	<delete id="newsremove">
		delete from k_comboard where `cbid`=#{cbid}
	</delete>
	<select id="searchimage" resultType="String">
	select cbimage from k_comboard where cbid=#{cbid}
	</select>
	<select id="searchreplyid" resultType="ComReplyVO">
	select crid from k_comreply where comboardid=#{cbid}
	</select>
	<delete id="maindelAfterRepRemove">
		delete from k_comreply where `crid`=#{cbid}
	</delete>
	<select id="getnewsRepsUpdate" resultType="ComReplyVO">
	select
		kr.crid,kr.comboardid,kr.comreplytext,kr.comrep_userid,kr.comrep_regdate,
		one.first,one.last,two.company,three.profimg
	from
		k_comreply kr join k_joinone one
	on 
		kr.comrep_userid = one.email
	join k_jointwo two
		on 
	one.one_id = two.one_id
		join k_jointhree three
	on
		two.two_id = three.two_id
	where 
		kr.crid=#{crid}
	</select>
	<update id="newsRepUpdate">
		update k_comreply set
		`comreplytext` =#{comreplytext}
		where
		`crid`=#{crid}
	</update>
	<delete id="replyremove">
		delete from k_comreply where `crid`=#{crid}
	</delete>
</mapper>