<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.ScrollboardMapper">
	<insert id="insertboard">
		INSERT INTO `k_board`
		( `userid`, `content`, `image`,
		`regdate`,`readid`,`warea`,`bnew_post`)
		VALUES
		( #{userid}, #{content},
		#{image}, now(), #{readid}, #{warea},'true');
	</insert>
	<!-- ====================listSearch 팔로우 있을때 개인페이지 리스트 가져오기================ -->
	<select id="listSearch" resultType="ScrollBoardVO">

		select
		one.first, one.last,two.company,three.profimg, kb.sbid, kb.userid, kb.content,
		kb.image,
		kb.regdate,kb.readid,kb.warea,
		kf.fid,kf.myid, kf.followid
		from
		k_board kb join k_follow kf
		on
		kb.userid = kf.myid
		or
		kb.userid = kf.followid
		or
		kb.userid != kf.myid
		or
		kb.userid != kf.followid
		join k_joinone one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
		on two.two_id = three.two_id
		where
		kf.myid=#{keyword} and kb.warea=#{keyword}
		or kf.myid=#{keyword} and kb.userid!=#{keyword} and
		kb.readid!=#{keyword}and kb.warea=#{keyword}
		or kf.myid!=#{keyword} and kb.userid!=#{keyword} and
		kb.readid!=#{keyword} and kb.warea=#{keyword}
		group by kb.sbid desc
		limit 0,3

	</select>
	<!-- ==============================listSearch 팔로우 있을때 개인페이지 리스트 가져오기====================== -->
	<select id="infiniteScrillDown" resultType="ScrollBoardVO">
		select
		one.first, one.last,two.company,three.profimg, kb.sbid, kb.userid, kb.content,
		kb.image,
		kb.regdate,kb.readid,kb.warea,
		kf.fid,kf.myid, kf.followid
		from
		k_board kb join k_follow kf
		on
		kb.userid = kf.myid
		or
		kb.userid = kf.followid
		or
		kb.userid != kf.myid
		or
		kb.userid != kf.followid
		join k_joinone one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
		on two.two_id = three.two_id
		where
		kf.myid=#{sessionid} and kb.warea=#{sessionid} and #{sbid}+1 >kb.sbid
		or kf.myid=#{sessionid} and kb.userid!=#{sessionid} and
		kb.readid!=#{sessionid} and kb.warea=#{sessionid} and #{sbid}+1
		>kb.sbid
		or kf.myid!=#{sessionid} and kb.userid!=#{sessionid} and
		kb.readid!=#{sessionid}and kb.warea=#{sessionid} and #{sbid}+1
		>kb.sbid
		group by kb.sbid
		desc
		limit 0,1
	</select>
	<select id="zeroinfiniteScrillDown" resultType="ScrollBoardVO">
		select
		one.first, one.last,two.company,three.profimg,kb.sbid, kb.userid, kb.content,
		kb.image, kb.regdate,kb.readid,kb.warea
		from
		k_board kb join k_joinone
		one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
		on two.two_id = three.two_id
		where
		userid=#{sessionid} and readid=#{sessionid} and warea=#{sessionid} and
		#{sbid}+1 >sbid
		or warea=#{sessionid} and #{sbid}+1 >sbid
		group by sbid
		desc
		limit 0,1
	</select>
	<select id="getid" resultType="ScrollBoardVO">
		select userid from k_board;

	</select>
	<!-- =======================개인페이지 팔로우가 없을때 리스트========================== -->
	<select id="zerolistSearch" resultType="ScrollBoardVO">
		select
		one.first, one.last,two.company,three.profimg,kb.sbid, kb.userid, kb.content,
		kb.image, kb.regdate,kb.readid,kb.warea
		from
		k_board kb join k_joinone
		one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
		on two.two_id = three.two_id
		where
		kb.userid=#{keyword} and kb.readid=#{keyword} and kb.warea=#{keyword}
		or warea=#{keyword}
		group by sbid desc
		limit 0,3
	</select>
	<!-- =======================개인페이지 팔로우가 없을때 리스트========================== -->
	<select id="sololistSearchCriteria" resultType="ScrollBoardVO">
		select
		one.first, one.last,two.company,three.profimg,kb.sbid, kb.userid, kb.content,
		kb.image, kb.regdate,kb.readid,kb.warea
		from
		k_board kb join k_joinone
		one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
		on two.two_id = three.two_id
		where
		userid=#{email} and readid=#{email} and warea=#{email}
		or userid!=#{email} and readid!=#{email} and warea=#{email}
		group by sbid desc
		limit 0,3
	</select>
	<select id="soloinfiniteScrillDown" resultType="ScrollBoardVO">
		select
		one.first, one.last,two.company,three.profimg,kb.sbid, kb.userid, kb.content,
		kb.image, kb.regdate,kb.readid,kb.warea
		from
		k_board kb join k_joinone
		one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		join k_jointhree three
		on two.two_id = three.two_id
		where
		userid=#{sessionid} and readid=#{sessionid} and warea=#{sessionid} and
		#{sbid}+1 >sbid
		or userid!=#{sessionid} and readid!=#{sessionid} and
		warea=#{sessionid} and #{sbid}+1 >sbid
		group by sbid
		desc
		limit 0,1
	</select>
	<select id="serssionidName" resultType="ScrollBoardVO">
		select
		one.email,one.first, one.last,two.company
		from
		k_joinone one join k_jointwo two
		on one.one_id = two.one_id
		where
		one.email=#{id}
		group by one.email;
	</select>
	<select id="updateBoard" resultType="ScrollBoardVO">
		select
		one.first, one.last,two.company,kb.sbid, kb.userid, kb.content, kb.image,
		kb.regdate,kb.readid,kb.warea
		from
		k_board kb join k_joinone one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		where
		sbid=#{sbid};
	</select>
	<update id="individualBupdatePOST">
		update k_board set
		`content` =#{content},`userid` =#{userid},`image`
		=#{image}
		,`regdate` =now()
		where
		`sbid`=#{sbid}
	</update>
	<delete id="remove">
		delete from k_board where `sbid`=#{sbid}
	</delete>
	<select id="searchsbid" resultType="ReplyVO">
		select
		kb.sbid
		from
		k_board kb join k_joinone one
		on one.email = kb.userid
		join k_jointwo two
		on one.one_id = two.one_id
		where
		userid=#{sessionid} and readid=#{sessionid} and warea=#{sessionid} and
		#{sbid}+1 >sbid
		or userid!=#{sessionid} and readid!=#{sessionid} and
		warea=#{sessionid} and #{sbid}+1 >sbid
		group by sbid
		desc
		limit 0,1
	</select>
	<select id="updatenewpost" resultType="ScrollBoardVO">
		select bnew_post from
		k_board where
		userid !=#{id} and warea =#{id} and bnew_post='true';
	</select>
</mapper>